%title{
    font-size: 34px;
    text-align: center;
    color: #0f2d4a;
}
%sectionMargin {
    margin: 45px 0px 0px 45px;
    
    @media (max-width: 768px) {
            margin: 15px 0px 15px 0px;
    }
}